*,
::before,
::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  font-style: normal;
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
