/* hidding hidden :) */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  font-style: normal;
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 60px 0;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section--bg-dark {
  background-color: #f5f4fa;
}

.section--hidden {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section--hidden {
    display: none;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #757575;
}

.button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button__icon {
  margin-left: 10px;
}

.logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo--margin-bottom {
  margin-bottom: 20px;
}

.logo--theme-dark {
  color: #ffffff;
}

.logo--color-accent {
  color: #2196f3;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__link-special {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.main-navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation__item:not(:last-child) {
  margin-right: 50px;
}

.main-navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-navigation__item:hover .main-navigation__link, .main-navigation__link:focus {
  color: #2196f3;
}

.main-navigation__link--current {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation__link--current::after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.envelope-icon {
  fill: currentColor;
  margin-right: 10px;
}

/*  tel, email  */
.contacts-list {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 84px;
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 305px;
  }
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts-list__link {
    font-size: 14px;
    line-height: 1.15;
  }
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__contacts-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contacts-link:hover, .address__contacts-link:focus {
  color: #2196f3;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.container__page-header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container__page-header {
    height: 80px;
  }
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 88px;
}

@media screen and (min-width: 1200px) {
  .page-header__nav {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__nav {
    display: none;
  }
}

.page-header__button {
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .page-header__button {
    display: none;
  }
}

.page-header__button--close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.page-header__button:hover .page-header__icon,
.page-header__button:focus .page-header__icon {
  fill: #2196f3;
}

.page-header__menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .page-header__menu {
    display: none;
  }
}

.page-header__menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.page-header__item:not(:last-child) {
  margin-bottom: 32px;
}

.page-header__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.page-header__link--current {
  color: #2196f3;
}

.page-header__tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.page-header__email {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.page-header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.page-header__icon {
  width: 24px;
  height: 24px;
}

.page-header__social-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.container__footer {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .container__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .panel-contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .panel-contacts {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .panel-social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .panel-social {
    margin-right: 93px;
  }
}

.panel-social__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.panel-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .panel-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .panel-form {
    width: 450px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media screen and (min-width: 1200px) {
  .panel-form {
    width: 570px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.panel-form__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .subscribe-email {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
}

.subscribe-email__input {
  height: 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 20px;
  padding-left: 16px;
  /* font-size: 16px; */
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .subscribe-email__input {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--theme-dark {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .social-list__link:hover, .social-list__link:focus {
    color: #ffffff;
    background-color: #2196f3;
  }
}

.social-list__link .social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .social-list__link .social-list__link .social-list__icon {
    fill: #ffffff;
  }
}

.backdrop {
  position: fixed;
  padding: 15px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-container {
  position: relative;
  padding: 40px;
  margin: 0 auto;
  max-width: 450px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal-container {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 40px;
    max-width: 528px;
    max-height: 581px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-container {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
  }
}

@media screen and (min-width: 1200px) {
  .backdrop.is-hidden .modal-container {
    -webkit-transform: translate(-50%, -50%) scale(0.5, 0.5) rotate(45deg);
            transform: translate(-50%, -50%) scale(0.5, 0.5) rotate(45deg);
  }
}

.modal-container__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  margin-left: auto;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container__close-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container__close-button:hover .modal-container__close-icon {
  fill: #2196f3;
}

.input-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.agree-container {
  position: relative;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.client-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.client-info__title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.client-info__label {
  width: 100%;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.client-info__icon-input {
  position: absolute;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-info__input-txt:focus ~ .client-info__icon-input {
  fill: #2196f3;
}

.client-info__input-txt {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-info__input-txt:focus {
  border-color: #2196f3;
  outline: none;
}

.client-info__comment {
  resize: none;
  margin-bottom: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.client-info__comment:focus {
  border-color: #2196f3;
  outline: none;
}

.client-info__icon-check {
  position: absolute;
  margin-left: -24px;
  width: 1em;
  height: 1em;
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 1px;
}

.client-info__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .client-info__agree {
    font-size: 14px;
    line-height: 1.71;
  }
}

.client-agree {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.client-agree:checked {
  background-color: #2196f3;
}

.client-agree:focus + .client-info__icon-check {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 5px;
}

.client-agree:checked + .client-info__icon-check {
  stroke: none;
  fill: #2196f3;
}

.client-info__deal {
  margin-left: 2px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .client-info__deal {
    font-size: 14px;
    line-height: 1.71;
  }
}

:root {
  --gradient: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.hero {
  padding: 118px 0px;
  background-size: cover;
  background-image: var(--gradient), url("../images/hero480.jpg");
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url("../images/hero480-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--gradient), url("../images/hero768.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url("../images/hero768-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: var(--gradient), url("../images/hero1200.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url("../images/hero1200-2x.jpg");
  }
}

.hero__header {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__header {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 30px;
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.business__item {
  position: relative;
}

.business__item:not(:last-child) {
  margin-right: 30px;
}

.business__lable {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.business__title {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    margin: 0;
  }
}

.team__item {
  max-width: 450px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
    margin: 0;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients {
    margin: 0;
  }
}

.clients__item {
  height: 92px;
  -ms-flex-preferred-size: calc((100% - 30px * 2) / 2);
      flex-basis: calc((100% - 30px * 2) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px * 3) / 3);
        flex-basis: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px * 5) / 6);
        flex-basis: calc((100% - 30px * 5) / 6);
    margin: 0;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients__link .clients__icon {
  fill: currentColor;
}

/* ----------------- page portfolio */
.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .navigation-bar {
    margin-top: -15px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-bar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-bar {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-bar__item {
    margin-top: 15px;
  }
}

.navigation-bar__item:not(:last-child) {
  margin-right: 8px;
}

.navigation-bar__button {
  display: block;
  padding: 0px 22px;
  height: 38px;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-bar__button:hover, .navigation-bar__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__card {
  max-width: 450px;
}

@media screen and (max-width: 767px) {
  .portfolio__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__card {
    max-width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__card {
    max-width: 370px;
  }
}

.portfolio__link {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__card-bottom {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio__link:hover .portfolio__card-bottom,
.portfolio__link:focus .portfolio__card-bottom {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ------- portfolio anime ---------*/
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__thumb::before {
  display: inline-block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  opacity: 1;
  pointer-events: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__thumb::before,
.portfolio__link:focus .portfolio__thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__overlay-text {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transform: translateY(140%);
          transform: translateY(140%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover .portfolio__overlay-text,
.portfolio__link:focus .portfolio__overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */