.envelope-icon {
  fill: currentColor;
  margin-right: 10px;
}

/*  tel, email  */
.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: $color-text-primary;

  transition: color 250ms $function-time;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $color-white;
}

.address__contacts-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $color-contacts-footer;
  transition: color 250ms $function-time;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
