.footer {
  padding: 60px 0;
  background-color: $color-background-dark;
}

.container__footer {
  text-align: center;

  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    text-align: left;
    align-items: baseline;
  }
}

.panel-contacts {
  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    flex-grow: 1;
    margin-right: 70px;
  }
}

.panel-social {
  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}

.panel-social__title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $color-white;
}

.panel-form {
  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    margin-top: 60px;
  }

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @media screen and (min-width: $tablet) {
    width: 450px;
    flex-grow: 0;
  }
  @media screen and (min-width: $desktop) {
    width: 570px;
    flex-grow: 0;
  }
}

.panel-form__title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $color-white;
}

.subscribe-email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.subscribe-email__input {
  height: 50px;
  flex-grow: 1;
  margin-bottom: 20px;
  padding-left: 16px;

  @media screen and (min-width: $desktop) {
    margin-right: 12px;
    margin-bottom: 0;
  }

  /* font-size: 16px; */
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
