.page-header {
  position: relative;

  border-bottom: 1px solid #ececec;
}

.container__page-header {
  height: 60px;
  @media screen and (min-width: $tablet) {
    height: 80px;
  }
  display: flex;
  align-items: center;

  padding: 0 15px;
}

.page-header__nav {
  display: flex;
  height: 100%;
  margin-left: 88px;
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }

  @media screen and (max-width: $pre-tablet) {
    display: none;
  }
}

.page-header__button {
  @media screen and (min-width: $tablet) {
    display: none;
  }

  display: block;
  margin-left: auto;

  width: 40px;
  height: 40px;
  background-color: transparent;

  &--close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.page-header__icon {
  .page-header__button:hover &,
  .page-header__button:focus & {
    fill: $color-accent;
  }
}

.page-header__menu {
  @media screen and (min-width: $tablet) {
    display: none;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  position: absolute;
  // position: fixed;

  top: 0;
  left: 0;
  padding: 48px 40px;

  width: 100vw;
  height: 100vh;

  background-color: $color-white;
  z-index: 1;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.page-header__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.page-header__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $color-dark;
}

.page-header__link--current {
  color: $color-accent;
}

.page-header__tel {
  display: block;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  color: $color-accent;
}

.page-header__email {
  display: block;
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $color-text-primary;
}

.page-header__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $color-accent;
}

.page-header__icon {
  width: 24px;
  height: 24px;
}
.page-header__social-item {
  &:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
