.hero {
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Header@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// hero__header
.hero__header {
  width: 360px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $color-white;

  @media screen and (min-width: $desktop) {
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    color: #ffffff;
  }
}
