.team {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    margin: 0;
  }
}

.team__item {
  // margin-bottom: 30px;
  max-width: 450px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: $pre-tablet) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    max-width: 354px;
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 270px;
    margin: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__photo {
  width: 450px;
  @media screen and (min-width: $tablet) {
    width: 354px;
    // srcset="./images/team-1-480w-450px.jpg 1x, ./images/team-1-480w-450px-2x.jpg 2x"
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.team__card {
  // @media screen and (min-width: $mobile) {
  //   width: 450px;
  // }

  padding-top: 30px;
  padding-bottom: 24px;

  background-color: $color-white;

  border-radius: 0 0 4px 4px;
}

.team__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: $color-dark;
}

.team__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
}
