// .color-accent {
//   color: $color-accent;
// }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 60px 15px;
  background-color: $color-white;

  &--bg-dark {
    background-color: $color-button-light;
  }

  &--hidden {
    display: none;
  }
}

.section__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
  letter-spacing: 0.03em;

  color: $color-dark;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;

  color: $color-text-primary;
}
