img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  background-color: $color-white;

  &--bg-dark {
    background-color: $color-button-light;
  }
}

<<<<<<< Updated upstream
.section--hidden {
  @media screen and (max-width: $pre-desktop) {
    display: none;
=======
  &--hidden {
    @media screen and (max-width: $pre-tablet) {
      display: none;
    }
>>>>>>> Stashed changes
  }
}

.section__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
  letter-spacing: 0.03em;

  color: $color-dark;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 15px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
    outline: 1px solid red;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    outline: 1px dotted cyan;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    outline: 1px double yellow;
  }
}

.container__page-header {
  display: flex;
  align-items: center;

  padding: 0 15px;
  height: 60px;
}

.container__hero {
  // margin: 0 auto;
  // text-align: center;
  padding: 118px 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;

  color: $color-text-primary;
}
