$color-black: #000000;
$color-white: #ffffff;

$color-accent: #2196f3; /* and logo "web" */

$color-dark: #212121; /* headers, links */

$color-text-primary: #757575; /* contacts-header and footer */

$color-button-light: #f5f4fa; /* team bg */

$color-contacts-footer: rgba(255, 255, 255, 0.6);

$color-social-links: #afb1b8;

$color-gradient: rgba(47, 48, 58, 0.4);

$function-time: cubic-bezier(0.4, 0, 0.2, 1);
