.navigation-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.navigation-bar__item:not(:last-child) {
  margin-right: 8px;
}

.navigation-bar__button {
  display: block;
  padding: 0px 22px;
  height: 38px;

  color: $color-dark;
  background-color: $color-button-light;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;

  transition: color 250ms $function-time, background-color 250ms $function-time,
    box-shadow 250ms $function-time;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-accent;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
