.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__card {
  margin-bottom: 30px;

  /* remove margin bottom from last line - 3 elements */
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:not(:nth-of-type(3n)) {
    margin-right: 30px;
  }
}

.portfolio__link {
  position: relative;
  display: block;

  &::after {
    display: inline-block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    opacity: 0;
    transition: opacity 250ms $function-time, box-shadow 250ms $function-time;

    &:hover::after,
    &:focus::after {
      opacity: 1;
    }
  }
}

.portfolio__card-bottom {
  // width: 370px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: $color-dark;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $color-text-primary;
}

/* ------- portfolio anime ---------*/

.portfolio__thumb {
  position: relative;
  width: 370px;

  overflow: hidden;

  &::before {
    display: inline-block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(33, 150, 243, 0.9);

    opacity: 1;

    pointer-events: none;

    transform: translateY(100%);
    transition: transform 250ms $function-time;

    .portfolio__link:hover &,
    .portfolio__link:focus & {
      transform: translateY(0);
    }
  }
}

.portfolio__overlay-text {
  position: absolute;

  top: 63px;
  left: 24px;
  bottom: 63px;
  right: 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $color-white;
  transform: translateY(140%);

  transition: transform 250ms $function-time;

  .portfolio__card:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}
