// ---------  theme light

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $color-social-links;
  transition: color 250ms $function-time, background-color 250ms $function-time;

  &--theme-dark {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms $function-time;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-accent;
  }
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;

  .social-list__link & {
    fill: $color-white;
  }
}
